{% extends 'base.html.twig' %}
{% block title %}Génération{% endblock %}

{% block body %}
    <div style="clear: both;">
        <h1>Génération PDF</h1>
        {{ form(form) }}
    </div>
{% endblock %}

