{% extends 'base.html.twig' %}
{% block title %}Abonnement{% endblock %}

{% block body %} 
    <header style="border: 2px solid black; padding: 10px; text-align: center;">
        <h1 style="clear: both;">Mon abonnement</h1>
    </header>  

    <section style="margin: 20px; text-align: center;">
        <h2>Free / avantages</h2>
        <div style="display: flex; justify-content: space-around;">
            <section style="margin: 30px; border: 2px solid rgb(102, 102, 105); padding: 10px; text-align: left; border-radius: 20px; width: 40%; background-color:rgb(239, 240, 241)">
                <p style="margin-left: 10px;">Les fonctionnalités de votre abonnement gratuit :</p>
                
                <ul style="text-align: left">
                    <li style="margin-inline: 10px;">Génération illimitée de PDF</li>
                    <br>
                    <li style="margin-inline: 10px;">Accès à une bibliothèque de modèles de PDF</li>
                    <br>
                    <li style="margin-inline: 10px;">Option pour personnaliser les PDF générés</li>
                    <br>
                    <li style="margin-inline: 10px;">Téléchargement de 20 PDF par jours</li>
                </ul>
            </section>
        </div>
    </section>
{% endblock %}
